::selection {
  background-color: #4f5258 !important;
}

/* ::-webkit-scrollbar { */
/*   background: #00050f !important; */
/* } */
/**/
/* ::-webkit-scrollbar-thumb { */
/*   background: #00050f !important; */
/*   border: 1px solid #1d9bf0 !important; */
/*   border-radius: 0 !important; */
/* } */
/**/
/* ::-webkit-scrollbar-track { */
/*   background: #00050f !important; */
/*   border-radius: 0 !important; */
/* } */
/**/
/* ::-webkit-scrollbar-track-piece { */
/*   background: #00050f !important; */
/*   border-radius: 0 !important; */
/* } */
/**/
/* ::-webkit-scrollbar-corner { */
/*   background: #00050f !important; */
/* } */
/**/
/* ::-webkit-scrollbar-button { */
/*   background: #00050f !important; */
/*   border-radius: 0 !important; */
/* } */
